@model IEnumerable<MyPhotos.Models.Comments>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model._cphotoid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._cusername)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._ctext)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._ctime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._cup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._cdown)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item._cphotoid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._cusername)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._ctext)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._ctime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._cup)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._cdown)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item._cid }) |
            @Html.ActionLink("Details", "Details", new { id=item._cid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item._cid })
        </td>
    </tr>
}

</table>
