@model IEnumerable<MyPhotos.Models.PhotoType>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model._typename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._typedes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._tcover)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item._typename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._typedes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._tcover)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item._typeid }) |
            @Html.ActionLink("Details", "Details", new { id=item._typeid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item._typeid })
        </td>
    </tr>
}

</table>
