@model MyPhotos.Models.Role

@{
    ViewBag.Title = "删除角色";
}

<h2>删除角色</h2>

<h3>您确定要删除这个角色吗?</h3>
<div>
    @*<h4>Role</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RoleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoleDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleDescription)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="删除" class="btn btn-default" /> |
            @Html.ActionLink("返回角色列表", "Index")
        </div>
    }
</div>
