@model MyPhotos.Models.Role

@{
    ViewBag.Title = "角色详情";
}

<h2>角色详情</h2>

<div>
    @*<h4>Role</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RoleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoleDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("编辑", "Edit", new { id = Model.RoleID }) |
    @Html.ActionLink("返回角色列表", "Index")
</p>
