@model IEnumerable<MyPhotos.Models.Role>

@{
    ViewBag.Title = "角色列表";
}

<h2>角色列表</h2>

<p>
    @Html.ActionLink("创建角色", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RoleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoleDescription)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleDescription)
            </td>
            <td>
                @Html.ActionLink("编辑", "Edit", new { id = item.RoleID }) |
                @Html.ActionLink("详情", "Details", new { id = item.RoleID }) |
                @Html.ActionLink("删除", "Delete", new { id = item.RoleID })
            </td>
        </tr>
    }

</table>
