@model MyPhotos.Models.Photos

@{
    ViewBag.Title = "删除图片";
}

<h2>删除图片</h2>

<h3>你确定要删除这张图片?</h3>
<div>
    @*<h4>Photos</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PhotoTypes._typename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhotoTypes._typename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._ptitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._ptitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._purl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._purl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._pdes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._pdes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._ptime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._ptime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._pclicks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._pclicks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._pdownload)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._pdownload)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._pup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._pup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._pdown)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._pdown)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="删除" class="btn btn-default" /> |
            @Html.ActionLink("返回图片列表", "Index")
        </div>
    }
</div>
