@model IEnumerable<MyPhotos.Models.Photos>

@{
    ViewBag.Title = "图片列表";
}

<h2>图片列表</h2>

<p>
    @Html.ActionLink("添加图片", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PhotoTypes._typename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._ptitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._purl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._pdes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._ptime)
        </th>
        <th>
            <img src="~/fonts/Icon/clicksgreen.png" />
            @*@Html.DisplayNameFor(model => model._pclicks)*@
        </th>
        <th>
            <img src="~/fonts/Icon/download.png" />
        </th>
        <th>
            <img src="~/fonts/Icon/up.gif" />
            @*@Html.DisplayNameFor(model => model._pup)*@
        </th>
        <th>
            <img src="~/fonts/Icon/down.gif" />
            @*@Html.DisplayNameFor(model => model._pdown)*@
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PhotoTypes._typename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item._ptitle)
            </td>
            <td>
                <a href="~/Photos/Details/@item._pid">
                    <img style="width:320px" src="~/Images/@item._purl" />
                    @*<img src="~/img.ashx?w=320&h=200&u=@item._purl" />*@
                </a>
                @*@Html.DisplayFor(modelItem => item._purl)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item._pdes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item._ptime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item._pclicks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item._pdownload)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item._pup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item._pdown)
            </td>
            <td>
                @Html.ActionLink("编辑", "Edit", new { id = item._pid }) |
                @*@Html.ActionLink("详情", "Details", new { id = item._pid }) |*@
                @Html.ActionLink("删除", "Delete", new { id = item._pid })
                @*@Html.ActionLink("Upload", "Upload")
                    <a href="asdfsdasdf" width=20 height=20></a>*@
            </td>
        </tr>
    }

</table>
