@model JPager.Net.PagerResult<MyPhotos.Models.Photos>

@{
    ViewBag.Title = "图片列表";
}
<link href="~/Content/themes/base/all.css" rel="stylesheet" />
<link href="~/Content/style/PagerIndex.css" rel="stylesheet" />
<h2>图片列表</h2>

<p>
    @*@Html.ActionLink("添加图片", "Create")*@
    <a href="#" onclick="OpenAddNew();">添加图片</a>
</p>
<div>
    @foreach (MyPhotos.Models.Photos item in Model.DataList)
    {
        <div class="item col-lg-3 col-sm-4 col-xs-6" style="padding:5px;">
            <div class="dtl27">
                <img class="img-thumbnail img-responsive" id="@item._pid" src="~/Images/@item._purl" />
                <div class="dtl">
                    <h3>标题：@Html.DisplayFor(modelItem => item._ptitle)</h3>
                    <p>描述：@Html.DisplayFor(modelItem => item._pdes)</p>
                    <ul id="edit_vertical">
                        @*<li>
                                <input type="checkbox" id="@item._pid" />
                            </li>*@
                        <li></li>
                        <li>
                            <img src="~/fonts/Icon/24-Delete-24.png" onclick="return del(id);" id="@item._pid" alt="删除" />
                        </li>
                        <li>
                            <img src="~/fonts/Icon/小图标 (33).png" alt="编辑" id="@item._pid" onclick="return Modify(id);" />
                        </li>
                        <li></li>
                    </ul>
                    <ul id="edit_level" width="100%">
                        <li>
                            <img src="~/fonts/Icon/clicksgreen.png" onclick="Edit(id);" alt="点击率" id="click+@item._pid" />
                            <span id="click_span+@item._pid">@Html.DisplayFor(modelItem => item._pclicks)</span>
                        </li>
                        <li>
                            <img src="~/fonts/Icon/download.png" onclick="Download(id);" alt="下载量" id="download+@item._pid" />
                            <span id="download_span+@item._pid">@Html.DisplayFor(modelItem => item._pdownload)</span>
                        </li>
                        <li>
                            <img src="~/fonts/Icon/up.gif" onclick="Edit(id);" alt="顶" id="up+@item._pid" />
                            <span id="up_span+@item._pid">@Html.DisplayFor(modelItem => item._pup)</span>
                        </li>
                        <li>
                            <img src="~/fonts/Icon/down.gif" onclick="Edit(id);" alt="踩" id="down+@item._pid" />
                            <span id="down_span+@item._pid">@Html.DisplayFor(modelItem => item._pdown)</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    }
    <div class="col-lg-12 col-sm-12 col-xs-12" style="padding:0;">
        @Html.Raw(Model.PagerHtml())  共 @Model.Total 条
    </div>
</div>

<div id="del-confirm" style="display:none;" title="删除图片">
    <p>
        <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>这张图片将被永久删除，并且无法恢复。您确定吗？
    </p>
</div>

<div id="modify" style="display:none;" title="修改图片信息">
    <p>
        哈哈
    </p>
</div>

<script src="~/Scripts/script/Photos.js"></script>