@model MyPhotos.ViewModels.UsersChangePasswordViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "修改密码";
}
<div class="row">
    <div class="col-md-9 col-sm-8">
        @using (Html.BeginForm())
            {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>修改密码</h4>
                <hr />
                @Html.ValidationSummary(true)

                <div class="form-group">
                    @Html.LabelFor(model => model.UserName, new { @class = "control-label col-md-2" })
                    <div class="col-md-10 padtop7">
                        @Html.DisplayFor(model => model.UserName)
                        @*@Html.EditorFor(model => model.UserName)
                            @Html.ValidationMessageFor(model => model.UserName)*@
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.OriginalPassword, new { @class = "control-label col-md-2" })
                    <div class="col-md-10 padtop7">
                        @Html.EditorFor(model => model.OriginalPassword)
                        @Html.ValidationMessageFor(model => model.OriginalPassword)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
                    <div class="col-md-10 padtop7">
                        @Html.EditorFor(model => model.Password)
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label col-md-2" })
                    <div class="col-md-10 padtop7">
                        @Html.EditorFor(model => model.ConfirmPassword)
                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="修改" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }

    </div>
</div>
