@model JPager.Net.PagerResult<MyPhotos.Models.User>

@{
    ViewBag.Title = "用户列表";
}

<h2>用户列表</h2>

<br />
<form method="get" class="form-inline">
    <div class="form-group" style="margin-right:36px;">
        <label for="Size" style="margin-right:12px;">每页数据条数</label>
        <input type="text" class="form-control" name="PageSize" id="Size" placeholder="每页显示的数据条数">
    </div>
    <div class="form-group" style="margin-right:36px;">
        <label for="Name" style="margin-right:12px;">用户名</label>
        <input type="text" class="form-control" name="UserName" id="Name" placeholder="根据用户名查询">
    </div>
    <button type="submit" class="btn btn-default">查询</button>
</form>
<br />

<table class="table">
    <tr>
        <th>
            用户名
        </th>
        <th>
            显示名
        </th>
        <th>
            角色类型
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Password)
            </th>*@
        <th>
            邮箱
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Status)
            </th>*@
        <th>
            注册时间
        </th>
        <th>
            上次登录时间
        </th>
        <th>
            登录IP
        </th>
        <th>修改权限</th>
    </tr>

    @foreach (MyPhotos.Models.User item in Model.DataList)
    {
        <tr>
            <td>
                @item.UserName
            </td>
            <td>
                @item.DisplayName
            </td>
            <td>
                @item.Roles.RoleName
            </td>
            @*<td>
                    @Html.DisplayNameFor(model => model.Password)
                </td>*@
            <td>
                @item.Email
            </td>
            @*<th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>*@
            <td>
                @item.RegistrationTime
            </td>
            <td>
                @item.LoginTime
            </td>
            <td>
                @item.LoginIP
            </td>
            <td>@Html.ActionLink("修改权限", "EditRole", new { id = item.UserID })</td>
        </tr>
    }

</table>
<div>
    @Html.Raw(Model.PagerHtml())  共 @Model.Total 条
</div>

<script type="text/javascript">
    //保持搜索条件
    $(function () {
        $('#Name').val('@ViewBag.SearchUserName');
        @*$('#Age').val('@ViewBag.SearchRegisterTime');*@
    });
</script>